

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 5vh;
  background-color: #bad3e0;
  color: #000000;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  
}
           /*                                                     STYLING ALL THE CLASSES                                                                   */
.jumbotron {
  text-align: center;
  background-color: var(--grey);
  color: var(--light);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--light);
}

.hour {
  background-color: var(--light);
  color: #000000;
  border-top: 1px dashed var(--dark);
  font:var(--dark) large;
  font-weight: bolder;
}

.past {
  background-color: var(--grey);
  color: var(--light);
}

.present {
  background-color: var(--darkblue);
  color: var(--dark);
}

.future {
  background-color: var(--sky);
  color: var(--light);
}


                          /*                                   STYLING BUTTON                                                                                */


.saveBtn {
  border-left: 1px solid var(--light);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--grey);
  color: var(--dark);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

